@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  font-family: Raleway;
  color: black;
}
.blue-text{
  color:#0167FF;
  text-decoration: none;
  font-weight: bold;
}

/* ---------------------NAVBAR ---------------*/

.navbar {
  padding: 40px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.navbar .links {
  margin-left:auto;
  margin-right: auto; 
}
.navbar .links :hover{
 background-color: #0167FF;

}
.navbar img{
  max-width: 100px;
  max-height: 100px;
  margin: -20px;
  padding-left: 50%;

}
.navbar a {
  margin-left: 35px;
  text-decoration: none;
  padding: 6px;
  font-weight: 500;
  font-size: 18px;
}
.navbar a:hover {
  color:  white;
  background-color: #0167FF;
  padding-top: 70px;
  /* padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px; */
}
.content {
  overflow-x: hidden;
  
 /*  background-image: url("D:\js projekti nextblink\lav\src\naslovna.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 630px 1080px; */
}



/* ---------------------FOOTER ---------------*/


.footerglavnidiv{
 
  margin-bottom: 30px;
  padding-top: 25px;
  border-top: 1px solid #707070;
}
.podebljantext{
  font-weight: bold;
}
.gorefooter
{
  display: flex;
  justify-content: space-between;
  margin: 0 67px;
}
.prvasekcijafooter
{
  display: flex;
  flex-direction: column;
}
.logofooter
{
  max-width: 100px;
  max-height: 100px;
}
.slikafooter
{
  max-width: 100px;
  max-height: 100px;
}
.footerlinks
{
  margin-top: 15px;
  text-decoration: none;
  font-size: 17px;
}
.footertext{
  margin-top: 15px;
  font-size: 17px;
}
.ikonicasocijalne{
  max-width: 100%;
  max-height: 100%;
}
.socijalnemreze
{
  display: flex;
  justify-content: center;
  background-color: #0167FF;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  margin-right: 13px;
  
}
.socijalnediv
{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.ikonicasocijalne
{
  max-width: 50%;
  max-height: 50%;
  margin: auto;
}

.linkprekodiva
{
  width: 46px;
  height: 46px;
  position: absolute;
}

.dolefooter
{
  margin: 0 67px;
  border-top: 1px solid #707070 ;
  margin-top: 25px;
}
.dolefootertext
{
  text-align: center;
  margin-top: 15px;
  color: #707070;
}





/* ---------------------POCETNA ---------------*/


.glavniDiv{
  background-image: url("D:\js projekti nextblink\lav\src\naslovna.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 550px 700px;
  padding: 70px;
  margin-left: 1%;
}
.glavniDiv, .kontaktDiv, .onamaDiv, .uslugeDiv, .zaposlisediv{
padding: 70px;
margin-left: 1%;
}

 .glavniDiv h1{
 
  font-size: 50px;
  font-weight: bold;
  color: #1A1A1A;
  max-width: 60%;
}
.glavniTekst
{
  font-size: 22px;
  padding-top: 5%;
  font-weight: 500;
  max-width: 60%;
}

.glavniDiv .glavnaslika
{
   
  max-width: 50%;
  max-height: 50%;
}
.glavniDiv .saznajButton
{
  margin-top: 7%;
  width: 341px;
  height:60px;
  color: white;
  background-color: #0167FF;
  border: none;
  font-size: 25px;
  border-radius: 10px;

}

.drugaboja{
  width: 1920;
  height: 1080px;
  background-color: #0167FF;
  margin-top: 250px;

}

.trecideopocetna
{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.naslovpocetnatrecasekcija
{
  font-size: 35px;
  font-weight: bold;
}

.textpocetnatrecasekcija
{
  max-width: 60%;
  margin-top: 25px;
  font-size: 18px;
}

#deo1
{
  margin-top: 100px;
}
.chekiraneprednosti
{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.textchekiraneprednosti
{
  margin-left: 15px;
  font-weight: 600;
  font-size: 18px;
}
.slikacheck
{
  max-width: 27px;
  max-height: 27px;
}



/* ---------------------O NAMA ---------------*/

.onamaDiv{
  background-image: url("D:\js projekti nextblink\repo\lav_nextblink\src\logoglava.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 800px 600px;
  
  width: 100vw;
  padding: 70px;
  margin-left: 1%;
}
.onamaDiv h1
{
    margin-top:10px ;
    font-size: 50px;
    font-weight: bold;
    color: #1A1A1A;
    max-width: 40%;
    /*margin-right: 50px;*/
 

}
.glavniTekst
{
  max-width: 50%;
  line-height: 35px;
  margin-right: 150px;
  font-size: 22px;
  font-weight: 500;
 
}

.onamaDrugidiv{
  margin-top: 220px;
  display: flex;
  justify-content: space-between;
  
    
}
.krugslika
{
  max-width: 520px;
  max-height: 300px;
}

.onamaDrugiTekst{
 
  line-height: 35px;
  font-size: 22px;
  font-weight: 500;
  max-width: 70%;
  margin-right: 150px;
  margin-left: 150px;
  
}

.boldovaniText{
  font-size: 45px;
  color: #0167FF;
  font-weight: bold;
  margin-left: 150px;
  margin-top: 50px;
}

.uslugeOnamabutton{
  margin-top: 5%;
  width: 341px;
  height:60px;
  color: white;
  background-color: #0167FF;
  border: none;
  font-size: 25px;
  border-radius: 10px;
  margin-left: 150px;
}




/* ---------------------KONTAKT ---------------*/



.prvideoKontakt
{
  display: flex;
  flex-direction: row;
}
.levozaposlise
{
  max-width: 50%;

}

.naslovKontakt
{
  margin-top: 40px;
  font-size: 45px;
}
.desnokontakt{
  max-width: 50%;
}

.slikakontakt
{
  margin-right: -100px;
  max-width: 604px;
  max-height: 485px;
}

.textKontakt
{
  font-size: 22px;
    margin-top: 50px;
    font-weight: 500;
    padding-right: 150px;
}

.headersvih{
  padding-left: 10px;
  text-transform: uppercase;
  border-left: 4px solid #0167FF;
  font-size: 22px;
  
}

.drugidivkontakt
{
  display: flex;
  flex-direction: row;
  background-color: #0167FF;
  margin-left: -200px;
  width: 1800px;
  height: 500px;
  margin-top: 100px;
}

.drdeodesno
{
  margin-top: 80px;
  margin-left: 120px;
}
.slikakontakt2
{
  margin-top: 100px;
  margin-left: 400px;
  max-width: 320px;
  max-height: 320px;
}
.drdeonaslov{
  color: white;
  font-size: 45px;
  margin-top: 20px;
}
.drdeotext
{
  margin-top: 50px;
  color: white;
  font-weight: 600;
  font-size: 23px;
}



/* ---------------------ZAPOSLI SE ---------------*/
.prvidivzaposlise{
display: flex;
justify-content: space-between;

}
.naslovZaposlise{
  margin-top: 40px;
  font-size: 45px;
  font-weight: bold;
  color: #1A1A1A;
  
  
}
.levozaposlise{
  max-width: 50%;
}
.desnozaposlise{
  max-width: 50%;
  margin-left: 50px;
}
.slikazaposlise{
  max-width: 635px;
  max-height: 425px;
}
.textzaposlise
{
  font-size: 22px;
  margin-top: 50px;
  font-weight: 500;
}
.prijaviseforma{
  margin-left: 30%;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}
.naslovprijavise{
  font-size: 50px;
  font-weight: bold;
  color: #0167FF;
}
.forma
{
  max-width: 50%;
 
  display: flex;
  flex-direction: column;
}
.svelabele{
  margin-top: 30px;
  font-size: 20px;
}
.sviinputi{
  margin-top: 10px;
  height: 35px;
    width: 100%;
    border: 1px solid #707070;
    border-radius: 10px;
    font-size: 25px;
    padding-left: 10px;
}

.zaposliseButton{
  margin-top: 5%;
 width: 100%;
  height:60px;
  color: white;
  background-color: #0167FF;
  border: none;
  font-size: 25px;
  border-radius: 10px;


}
.textareainputi
{
  max-width: 100%;
  height: 100px;
  border-radius: 10px;
  font-size: 22px;
}

/* ---------------------USLUGE ---------------*/

.prvidivusluge
{
  display: flex;
  justify-content: space-between;
 
}
.desnouslugediv
{
  max-width: 50%;
}
.levouslugediv{
  max-width: 50%;
}

.naslovUsluge
{
  margin-top: 30px;
  font-size: 45px;
  
}

.textUsluge
{
  font-size: 22px;
    margin-top: 50px;
    font-weight: 500;
}
.slikausluge
{
  margin-top: -20px;
  max-width: 850px;
  max-height: 428px;
  margin-left: -50px;
}

.naslovuslugedrugasekcija
{
  font-size: 22px;
  border-left: 4px solid #0167FF;
  padding-left: 10px;
  font-weight: bold;
}

.textispodnaslovadrugesekcije
{
  max-width: 70%;
  margin-top: 25px;
}
.levodrugasekcijausluge
{
  max-width: 30%;
}

.sekcijausluga
{
  margin-top: 150px;
}
  
.neparnasekcija
{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.drugasekcijaceo
{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.levodrugasekcijauslugeparna
{
  margin-left: 20%;
}
.parneslike
{
  max-width: 50%;
  max-width: 446px;
  max-height: 305px;
}
.textispodnaslovadrugesekcijeparna{
  margin-top: 20px;
}